@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: #CD6858;
  height: 100%;
}


a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
header nav .logo-nav{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  /* background-color: #8C9491; */
}

header nav .logo-nav .img{
  margin: 20px;
  font-size: 40px;
  color: white;
  margin-left: 40px;
}

header nav .logo-nav .text{
  font-size: 40px;
  margin: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 30px;
  align-items: center;
  flex: 1;
}

.container .box{
  background-color: #DBD3D8;
  height: 400px;
  width: 350px;
  margin: 20px;
  border-radius: 80px;
  box-shadow: rgba(11, 11, 11, 0.3) 0px 0px 0px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 95vw;
}

.container .foot{
  background-color: black;
  height: 90px;
  width: 100%;
}

.container .box .content{
  margin-top: 50px;
  font-size: 40px;
}

.container .pfp{
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: aliceblue;
}


@media (max-width: 900px){
  .container .box{
    width: 300px;
    height: 380px;
  }
  .container .box .content{
    font-size: 28px;
  }
}

@media (max-width: 700px){
  header nav .logo-nav .img{
    font-size: 30px;
  }

  header nav .logo-nav .text{
    font-size: 25px;
  }

  .container{
    margin: 40px 10px;
  }

  .container .box{
    width: 280px;
    height: 360px;
  }

  .container .box .content{
    font-size: 24px;
  }

  .pfp{
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 500px){
  .container{
    margin-top: 20px;
  }

  .container .box{
    width: 90vw;
    height: 350px;
  }

  .container .box .content{
    font-size: 22px;
  }
}


@media (max-width: 600px){
  header nav .logo-nav{
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
}



footer{
  background-color: #212121;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container .text{
  color: white;
  font-size: 34px;
}
